@media screen and (min-width: 300px) and (max-width: 767px){
	
	#titulo{
		height: 200px;
		width: 1120px;
	}

	#creadopor{
		font-size: 50px;
	}

	h1{
		font-size: 70px;
	}

	.imagengrande{
		width: 1120px;
	}

	#menulinks{
		height: 850px;
		width: 1120px;
	}

	.links{
		font-size: 80px;
	}

	.linkstop{
		display: block;
		text-align: center;
		margin-top: 30px;
		padding-top: 30px;
	}

	.columna{
		padding-left: 100px;
		margin-top: 30px;
	}

	.titulos{
		width: 820px;
		font-size: 60px;
		height: 100px;
		padding: 50px;
	}

	.textos{
		font-size: 40px;
		width: 800px;
		padding: 60px;
	}
	
	.columnaizquierda{
		width: 1000px;
		font-size: 50px;
		text-align: center;
		margin-left: 55px;
	}
	
	.listasidebartop{
		font-size: 40px;
	}

	.listasidebar2{
		font-size: 40px;
	}
	
	.columnamedio{
		width: 1000px;
		font-size: 50px;
		text-align: center;
		margin-left: 55px;
	}
	
	.imagenmedio{
		width: 1000px;
	}

	#medio{
		width: 1120px;
	}

	.filamedio{
		width: 1120px;
	}

	.textomedio{
		font-size: 20px;
		text-align: justify;
		margin-bottom: 80px;
	}

	#readfull{
		font-size: 50px;
		padding: 40px;
	}

	.columnaderecha{
		width: 1000px;
		font-size: 50px;
		text-align: center;
		margin-left: 55px;
		margin-top: 50px;
	}

	#abajo{
		width: 1120px;
	}

	.fecha{
		font-size: 60px;
	}

	.textofecha{
		font-size: 40px;
	}

	.columnafooter{
		width: 1000px;
		font-size: 50px;
		text-align: center;
		margin-left: 55px;
	}

	.footertitulos{
		font-size: 70px;
		text-align: center;
		margin-bottom: 30px;
	}

	#imgfooter{
		width: 1000px;
	}

	.textoimg{
		font-size: 40px;
	}

	.fechafooter{
		font-size: 50px;
	}

	.textofooter2{
		font-size: 20px;
	}

	.textofechafooter{
		font-size: 40px;
	}

	.textofechafooter2{
		font-size: 40px;
	}

	.fechafooter2{
		font-size: 50px;
	}

	.textoimg2{
		font-size: 50px;
	}

	.spanpor{
		font-size: 40px;
	}

	.spanpor2{
		font-size: 40px;
	}
	
	#abajocol1{
		width: 1120px;
	}

	#abajocol2{
		width: 1120px;
	}

	/* textos Dos columnas y una columna */
	
	.columnamediocol1{
		width: 1120px;
		text-align: center;
		margin-right: 0px;
	}

	.imagenmediocol1{
		width: 1000px;
	}

	.sidebar2{
		font-size: 90px;
		text-align: center;
	}
	
	.textomedio{
		font-size: 45px;
		width: 1000px;
		margin: auto;
		text-align: justify;
		margin-bottom: 100px;
		margin-top: 30px;
	}

	.columnamediocol2{
		width: 1000px;
		text-align: center;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.columnamediocol3_1{
		width: 1120px;
	}
}


